h1 {
    text-transform: uppercase;
}

body {
    width: 600px;
    font-family: Helvetica, sans-serif;
    color: #fff;
    background: #000;
    padding: 10px;
}

textarea,
input {
    font-family: Helvetica, sans-serif;
    font-weight:200;
    font-size: 12px;
    line-height:30px;
    width: 550px;
    padding: 5px;
    margin: 10px 0px;
}

.contact-submit, .click-here {
    width: 200px;
    font-size: 16px;
    padding: 5px;
    margin: 10px 0px;
}

.click-here {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

.click-here:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}
